<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>测试网页</title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		
		<div id="app2">
			<p v-if="tree">
				   周五快乐，大家好
			</p>
		</div>
		
		<div id="app3">
			<ol>
				<li v-for="todo in todos">
					{{todo.text}}
				</li>
			</ol>
			
		</div>
		
		<div id="app4">
			<p>
				{{message}}
			</p>
			
			<button type="button" v-on:click="reverseMessage">反转消息</button>
		</div>
		
		<div id="app5">
			<p>
				{{message}}
			</p>
			<input type="text" v-model="message" />
		</div>
		
		<div id="app6">
			
			<p>
				{{message}}
			</p>
			
		</div>
		
		<div id="app7">
			
			<p>
				{{message}}
			</p>
			
		</div>
		
		<div id="app7">
			
			<p>
				{{message}}
			</p>
			
		</div>
		
		<div id="app7">
			
			<p>
				{{message}}
			</p>
			
		</div>
	
	</body>
	
	<script type="text/javascript">
		
		var app2 = new Vue({
			
			el:	'#app2',
			data: {
				tree: true
			}
		})
		
		var app3 = new Vue({
			
			el:	'#app3',
			data: {
				todos: [
					{text:"zhaowei"},
					{text:"zhangsan"},
					{text:"lisi"}
				]
			}
		})
		
		var app4 = new Vue({
			
			el: '#app4',
			data: {
				message: 'zhaowei'
			},
			methods: {
				reverseMessage: function () {
					this.message = this.message.split('').reverse().join('')
				}
			}
		})
		
		var app5 = new Vue({
			
			el:	'#app5',
			data: {
				message: '文本框输入消息'
			}
		})
	</script>
</html>
